//	 __  __ _____  _____ _   _ ____
//	|  \/  |_ _\ \/ /_ _| \ | / ___|
//	| |\/| || | \  / | ||  \| \___ \
//	| |  | || | /  \ | || |\  |___) |
//	|_|  |_|___/_/\_\___|_| \_|____/
//
//	 ~ SCSS mixins and variables ~

$experimental-support-for-svg: true;
$grids: 14;
$gutters: 30/54;
$max-page-width: 978px;
$mobile-first: false;

// Web Safe Fonts
$font-arial: Arial, Helvetica, sans-serif;
$font-arial-black: "Arial Black", Gadget, sans-serif;
$font-courier: "Courier New", Courier, Monospace;
$font-georgia: Georgia, serif;
$font-lucida-console: "Lucida Console", Monaco, monospace;
$font-lucida-sans: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-tahoma: Tahoma, Geneva, sans-serif;
$font-times: "Times New Roman", Times, serif;
$font-trebuchet: "Trebuchet MS", Tahoma, Arial, sans-serif;
$font-verdana: Verdana, Geneva, sans-serif;
$font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-baskerville: Baskerville, Palatino, "Palatino Linotype", Georgia, Serif;


#banner {
	min-height: 170px;
}

.banner-heading {
	text-align: center;
}

#speciality-dropdown-menu .tt-dropdown-menu {
	padding-left: 15px;
	max-height: 150px;
	overflow-y: auto;
	background: white;
	width: 100%;
}

#speciality-dropdown-menu span {
	width: 100%;
}

.marketing {
	clear: both;
	.featurette-divider {
		margin: 80px 0 70px 0;
	}
}

.or-sign {
	padding-left: 40px;
}

.fingerprint-login {
	.fingerprint-image {
		
	}
	.fingerprint-button {
		padding-top: 20px;
	}
}

.column-main {
	margin-top: 70px;
}

.filters {
	background-color: #c2c2c2;
}

.search-results {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			margin-bottom: 10px;
			span {
				display: block;
			}
			.search-results-item {
				background-color: #c4c3c3;
				padding: 13px 0 16px 0;
				.doc-info-secondary {
					margin-top: 42px;
				}
			}			
		}
	}
}

