@font-face {
  font-family: font-inguin;
  src: url(../fonts/ProximaNova-Bold.otf), url(../fonts/ProximaNova-Regular.eot), url(../fonts/ProximaNova-Regular.otf), url(../fonts/ProximaNova-Regular.svg), url(../fonts/ProximaNova-Regular.ttf), url(../fonts/ProximaNova-Regular.woff), url(../fonts/proximanova-regular-webfont.eot), url(../fonts/proximanova-regular-webfont.svg), url(../fonts/proximanova-regular-webfont.ttf), url(../fonts/proximanova-regular-webfont.woff), url(../fonts/ProximaNova-RegularItalic.otf), url(../fonts/ProximaNova-Semibold.otf), url(../fonts/proximanova-semibold-webfont.eot), url(../fonts/proximanova-regular-webfont.svg), url(../fonts/proximanova-semibold-webfont.ttf), url(../fonts/proximanova-semibold-webfont.woff); }
@font-face {
  font-family: customRegular;
  src: url(../fonts/proximanova-regular-webfont.woff), url(../fonts/ProximaNova-Regular.ttf), url(../fonts/ProximaNova-Regular.otf), url(../fonts/ProximaNova-Regular.svg); }
@font-face {
  font-family: customBold;
  src: url(../fonts/ProximaNova-Semibold.otf), url(../fonts/ProximaNova-Bold.otf), url(../fonts/proximanova-semibold-webfont.eot), url(../fonts/proximanova-semibold-webfont.ttf), url(../fonts/proximanova-semibold-webfont.woff); }
@font-face {
  font-family: customSemiBold;
  src: url(../fonts/ProximaNova-Semibold.otf), url(../fonts/proximanova-semibold-webfont.eot), url(../fonts/proximanova-semibold-webfont.ttf), url(../fonts/proximanova-semibold-webfont.woff); }
#banner {
  min-height: 170px; }

.banner-heading {
  text-align: center; }

#speciality-dropdown-menu .tt-dropdown-menu {
  padding-left: 15px;
  max-height: 150px;
  overflow-y: auto;
  background: white;
  width: 100%; }

#speciality-dropdown-menu span {
  width: 100%; }

.marketing {
  clear: both; }
  .marketing .featurette-divider {
    margin: 80px 0 70px 0; }

.or-sign {
  padding-left: 40px; }

.fingerprint-login .fingerprint-button {
  padding-top: 20px; }

.column-main {
  margin-top: 0; }

.filters {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  padding-top: 20px;
  padding-bottom: 20px; }
  .filters .filter {
    margin-bottom: 15px; }
    .filters .filter .filter-label {
      display: block;
      margin-bottom: 10px; }
  .filters .fees-filter .slider {
    width: 230px;
    margin: 10px 0 10px 0; }

.search-results {
  padding-left: 30px;
  padding-top: 20px;
  font-family: customRegular; }
  .search-results ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .search-results ul li {
      background-color: #F7F7F9;
      margin-bottom: 15px; }
      .search-results ul li span {
        display: block; }
      .search-results ul li .search-results-item {
        padding: 20px 0 10px 20px; }

.search-tab {
  padding: 14px;
  border-bottom: 1px solid #e1e1e8; }
  .search-tab .results-title {
    padding-left: 0; }
    .search-tab .results-title span {
      color: #00A7D4; }
  .search-tab .sort label {
    padding-right: 0px;
    text-align: center; }
  .search-tab .sort .sort-button {
    margin-top: -5px; }

.doc-info-main > h5 {
  margin-top: 0;
  margin-left: -15px;
  color: #00A7D4; }

.doc-info-secondary span {
  padding: 3px;
  color: #7F7F7F; }

.doc-info-main ul > li {
  margin-bottom: 0;
  color: #7F7F7F;
  list-style-type: disc; }

.doc-image h4 {
  margin-bottom: 0; }

.doc-profile > h5 {
  margin-top: 0;
  color: #00A7D4; }

.doc-profile span {
  padding: 3px;
  color: #7F7F7F; }

.doc-info-secondary h5 {
  margin-top: 0;
  color: #00A7D4; }

.doc-info-secondary button {
  padding: 10px;
  background: #00A7D4;
  margin-top: 3px;
  width: 200px; }

.qualification {
  font-family: customRegular; }

.get-appointment {
  padding: 10px 0px 10px 20px; }

.get-appointment #recommendations {
  font-size: 14px;
  color: #00A7D4;
  line-height: 2em; }

.appointment-divider {
  border-top: 1px solid #DCCAB1;
  margin: 0; }

.well .well-sm{
    margin-bottom: 2px;
}


footer{
    margin-top: 0;
    margin-bottom: 1em;
}

/*# sourceMappingURL=site.css.map */
