<div class="container">
<div class = "column-main row">
<div class="filters col-md-3">
    <h4>Filters</h4>
    <div class="filter location-filter form-group-sm">
        <span class="filter-label">Location: </span>
        <div class="well well-sm">
            <select class="form-control" id="select">
                <option>Karnataka</option>
                <option>Maharashtra</option>
                <option>Rajasthan</option>
                <option>Kerela</option>
                <option>Gujarat</option>
            </select>
            <select class="form-control" id="select">
                <option>Bangalore</option>
                <option>Mumbai</option>
                <option>Delhi</option>
                <option>Kolkata</option>
                <option>Chennai</option>
            </select>
            <input type="text" class="form-control" id="inputArea" placeholder="Area, locality">
            <select class="form-control" placeholder="Search within">
                <option>Search within</option>
                <option>5 Kms</option>
                <option>10 Kms</option>
                <option>15 Kms</option>
                <option>20 Kms</option>
                <option>No constraint</option>
            </select>
        </div>
    </div>
    <div class="filter speciality-filter form-group-sm">
        <span class="filter-label">Speciality: </span>
        <div class="well well-sm">
            <div class="inputSpeciality-wrap" id="speciality-dropdown-menu">
                <input type="text" class="typeahead form-control" id="inputSpeciality" placeholder="Speciality">
            </div>
        </div>
    </div>
    <div class="filter availability-filter form-group-sm">
        <span class="filter-label">Availability: </span>
        <div class="well well-sm">
            <div class="input-group date">
                <input type="text" class="form-control" placeholder="Enter date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>
    </div>
    <div class="filter fees-filter">
        <span class="filter-label">Consultation Fee: </span>
        <div class="well well-sm">
            <i class="fa fa-inr fa-lg" ></i> 10 <input type="text" class="slider" value="" data-slider-min="0" data-slider-max="5000" data-slider-step="10" data-slider-value="[500,2500]" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show" id="sl2"> <i class="fa fa-inr fa-lg" ></i> 5,000
        </div>
    </div>
    <div class="filter gender-filter form-group-sm">
        <span class="filter-label">Gender: </span>
        <div class="well well-sm">
            <select class="form-control">
                <option>Select Gender</option>
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
    </div>
    <div class="buttons col-md-12">
        <button type="submit" class="btn btn-default col-md-4">Reset</button>
        <button type="submit" class="btn btn-primary col-md-7 col-md-offset-1">Apply Filter</button>
    </div>
</div>
<div class="search-results col-md-9">
    <div class="search-tab col-md-12">
        <div class="results-title col-md-6">
            Search results for <span>Dentists</span> in <span>Bangalore</span>
        </div>
        <div class="sort col-md-6">
            <label for="sort-button" class="col-sm-3 col-md-offset-2 control-label">Sort by</label>
            <div class="sort-button col-sm-6 form-group-sm" id="sort-button">
                <select class="form-control">
                    <option>Recommendations</option>
                    <option>Experience</option>
                    <option>Fees: lowest first</option>
                    <option>Fees: highest first</option>
                    <option>Distance: nearest first</option>
                </select>
            </div>
        </div>
    </div>
    <ul class="col-md-12">
        <li>
            <div class="search-results-item row">
                <div class="col-md-3 doc-image">
                    <img class="doc-thumbnail" src="images/doctor-2.jpg" height="120" width="120" alt="Doctor_Name" />
                    <h4>Lucie Wilson</h4>
                    <span class="qualification">BDS, MDS</span>
                </div>
                <div class="col-md-3 doc-profile">
                    <h5>Profile</h5>

                    <span class="speciality">Dentist</span>
                    <span class="experience">12 yrs experience</span>
                    <span> Inguin Dentals </span>
                    <span> <a href="javascript:void(0)">Email me</a> </span>

                </div>
                <div class= "doc-info-main col-md-2">
                    <h5> Expertise: </h5>
                    <ul>
                        <li>Root canal</li>
                        <li>Bleaching</li>
                        <li>Braces</li>
                        <li>Fillings</li>
                    </ul>
                </div>
                <div class= "doc-info-secondary col-md-4">
                    <h5> Address: </h5>
                    <span class="location"><i class="fa fa-map-marker fa-lg"></i> <a href="https://www.google.co.in/maps/place/HSR+Layout,+Bengaluru,+Karnataka/@12.9102584,77.6456605,15z/data=!3m1!4b1!4m2!3m1!1s0x3bae1491bfdc6ecd:0xf232718439fbc879?hl=en" target="_blank">HSR Layout Bangalore</a></span>
                    <span id="fee"><i class="fa fa-inr fa-lg"></i>  200</span>
                    <span class="availability"><i class="fa fa-clock-o fa-lg"></i> MON-SAT 10:00AM-1:00PM5:00PM-9:00PM</span>
                    <span class="distance"><i class="fa fa-road fa-lg"></i> 5 kms</span>
                </div>
            </div>
            <hr class="appointment-divider">
            <div class="row get-appointment">
                <div class="col-md-4">
                    <span id="recommendations"><i class="fa fa-thumbs-o-up fa-lg"></i> 106 Recomendations</span>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-primary"><i class="fa fa-laptop fa-lg"></i> Get Appointment </button>
                </div>
            </div>
        </li>
        <li>
            <div class="search-results-item row">
                <div class="col-md-3 doc-image">
                    <img class="doc-thumbnail" src="images/doctor-1.jpg" height="120" width="120" alt="Doctor_Name" />
                    <h4>Jacob Jenkins</h4>
                    <span class="qualification">MBBS, MD</span>
                </div>
                <div class="col-md-3 doc-profile">
                    <h5>Profile</h5>

                    <span class="speciality">Dentist</span>
                    <span class="experience">12 yrs experience</span>
                    <span> Inguin Dentals </span>
                    <span> <a href="javascript:void(0)">Email me</a> </span>

                </div>
                <div class= "doc-info-main col-md-2">
                    <h5> Expertise: </h5>
                    <ul>
                        <li>Root canal</li>
                        <li>Bleaching</li>
                        <li>Braces</li>
                        <li>Fillings</li>
                    </ul>
                </div>
                <div class= "doc-info-secondary col-md-4">
                    <h5> Address: </h5>
                    <span class="location"><i class="fa fa-map-marker fa-lg"></i> <a href="https://www.google.co.in/maps/place/HSR+Layout,+Bengaluru,+Karnataka/@12.9102584,77.6456605,15z/data=!3m1!4b1!4m2!3m1!1s0x3bae1491bfdc6ecd:0xf232718439fbc879?hl=en" target="_blank">HSR Layout Bangalore</a></span>
                    <span id="fee"><i class="fa fa-inr fa-lg"></i>  300</span>
                    <span class="availability"><i class="fa fa-clock-o fa-lg"></i> MON-SAT 10:00AM-1:00PM5:00PM-9:00PM</span>
                    <span class="distance"><i class="fa fa-road fa-lg"></i> 5 kms</span>
                </div>
            </div>
            <hr class="appointment-divider">
            <div class="row get-appointment">
                <div class="col-md-4">
                    <span id="recommendations"><i class="fa fa-thumbs-o-up fa-lg"></i> 76 Recomendations</span>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-primary"><i class="fa fa-laptop fa-lg"></i> Get Appointment </button>
                </div>
            </div>
        </li>
        <li>
            <div class="search-results-item row">
                <div class="col-md-3 doc-image">
                    <img class="doc-thumbnail" src="images/doctor-3.jpg" height="120" width="120" alt="Doctor_Name" />
                    <h4>Justin Grant</h4>
                    <span class="qualification">BDS, MDS</span>
                </div>
                <div class="col-md-3 doc-profile">
                    <h5>Profile</h5>

                    <span class="speciality">Dentist</span>
                    <span class="experience">12 yrs experience</span>
                    <span> Inguin Dentals </span>
                    <span> <a href="javascript:void(0)">Email me</a> </span>

                </div>
                <div class= "doc-info-main col-md-2">
                    <h5> Expertise: </h5>
                    <ul>
                        <li>Root canal</li>
                        <li>Bleaching</li>
                        <li>Braces</li>
                        <li>Fillings</li>
                    </ul>
                </div>
                <div class= "doc-info-secondary col-md-4">
                    <h5> Address: </h5>
                    <span class="location"><i class="fa fa-map-marker fa-lg"></i> <a href="https://www.google.co.in/maps/place/HSR+Layout,+Bengaluru,+Karnataka/@12.9102584,77.6456605,15z/data=!3m1!4b1!4m2!3m1!1s0x3bae1491bfdc6ecd:0xf232718439fbc879?hl=en" target="_blank">HSR Layout Bangalore</a></span>
                    <span id="fee"><i class="fa fa-inr fa-lg"></i>  300</span>
                    <span class="availability"><i class="fa fa-clock-o fa-lg"></i> MON-SAT 10:00AM-1:00PM5:00PM-9:00PM</span>
                    <span class="distance"><i class="fa fa-road fa-lg"></i> 5 kms</span>
                </div>
            </div>
            <hr class="appointment-divider">
            <div class="row get-appointment">
                <div class="col-md-4">
                    <span id="recommendations"><i class="fa fa-thumbs-o-up fa-lg"></i> 51 Recomendations</span>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-primary"><i class="fa fa-laptop fa-lg"></i> Get Appointment </button>
                </div>
            </div>
        </li>
        <li>
            <div class="search-results-item row">
                <div class="col-md-3 doc-image">
                    <img class="doc-thumbnail" src="images/doctor-4.jpg" height="120" width="120" alt="Doctor_Name" />
                    <h4>Tom kennedy</h4>
                    <span class="qualification">BDS, MDS</span>
                </div>
                <div class="col-md-3 doc-profile">
                    <h5>Profile</h5>

                    <span class="speciality">Dentist</span>
                    <span class="experience">12 yrs experience</span>
                    <span> Inguin Dentals </span>
                    <span> <a href="javascript:void(0)">Email me</a> </span>

                </div>
                <div class= "doc-info-main col-md-2">
                    <h5> Expertise: </h5>
                    <ul>
                        <li>Root canal</li>
                        <li>Bleaching</li>
                        <li>Braces</li>
                        <li>Fillings</li>
                    </ul>
                </div>
                <div class= "doc-info-secondary col-md-4">
                    <h5> Address: </h5>
                    <span class="location"><i class="fa fa-map-marker fa-lg"></i> <a href="https://www.google.co.in/maps/place/HSR+Layout,+Bengaluru,+Karnataka/@12.9102584,77.6456605,15z/data=!3m1!4b1!4m2!3m1!1s0x3bae1491bfdc6ecd:0xf232718439fbc879?hl=en" target="_blank">HSR Layout Bangalore</a></span>
                    <span id="fee"><i class="fa fa-inr fa-lg"></i>  200</span>
                    <span class="availability"><i class="fa fa-clock-o fa-lg"></i> MON-SAT 10:00AM-1:00PM5:00PM-9:00PM</span>
                    <span class="distance"><i class="fa fa-road fa-lg"></i> 5 kms</span>
                </div>
            </div>
            <hr class="appointment-divider">
            <div class="row get-appointment">
                <div class="col-md-4">
                    <span id="recommendations"><i class="fa fa-thumbs-o-up fa-lg"></i> 36 Recomendations</span>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-primary"><i class="fa fa-laptop fa-lg"></i> Get Appointment </button>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-6">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li>
                    <a href="" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</div>

