<div class="page-header" id="banner">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 banner-heading">
            <h1>Find a doctor</h1>
            <p class="lead">Based on knowledge. Not chance.</p>
        </div>
    </div>
</div>

<div class="search-form col-md-8 col-md-offset-2 well bs-component">
    <form class="form-horizontal" ng-submit="searchDoc()">
        <fieldset>
            <legend>Search</legend>
            <div class="form-group">

                <div class="col-md-4">
                    <select class="form-control" id="select">
                        <option>Karnataka</option>
                        <option>Maharashtra</option>
                        <option>Rajasthan</option>
                        <option>Kerela</option>
                        <option>Gujarat</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="select">
                        <option>Bangalore</option>
                        <option>Mumbai</option>
                        <option>Delhi</option>
                        <option>Kolkata</option>
                        <option>Chennai</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <input type="text" class="form-control" id="inputArea" placeholder="Area, locality">
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-12 inputSpeciality-wrap" id="speciality-dropdown-menu">
                    <input type="text" class="typeahead form-control" id="inputSpeciality" placeholder="Speciality">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 inputDoctor-wrap">
                    <input type="text" class="form-control" id="inputDoctor" placeholder="Doctor / Clinic">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8">
                    <button type="submit" class="btn btn-primary col-lg-12 col-md-offset-3">Search</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <hr class="featurette-divider">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Heading</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div>
