
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-md-7 col-md-offset-2 banner-heading">
                <h3>Login to Terzetto Account</h3>
                <p class="lead"><a href="javascript:void(0)">Don't have an account yet? Sign Up</a> </p>
            </div>
        </div>
    </div>

    <div class="row login-box">
        <div class="col-md-5 col-md-offset-1 text-login">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1 or-sign">
            <h4>Or</h4>
        </div>
        <div class="col-md-3 fingerprint-login">
            <div class="col-sm-6 fingerprint-image">
                <img src="images/fingerprint.png" alt="Fingerprint" width="100px" />
            </div>
            <div class="col-sm-6 fingerprint-button">
                <button type="submit" class="btn btn-primary">Scan</button>
            </div>
        </div>
    </div>